@import "./Variables";

html {
  font-family: sans-serif;
  line-height: 1.15;

  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    background: $backgroundColor;
    color: $color;
  }
}

*,
::after,
::before {
  box-sizing: border-box;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 100%;
}

a {
  display: inline-block;
  text-decoration: none;
  color: $primaryColor;

  &:hover,
  &:focus,
  &:active,
  &.active {
    text-decoration: underline;
    color: $primaryColor;
  }
}

h1 {
  margin: 0;
}

h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 20px 0;
}
