@import "assets/scss/Variables";

.verticalNavbar {
  background-color: $secondaryBackgroundColor;
  display: block;
  width: 100%;

  nav {
    overflow: auto;

    .navbarBrand {
      font-size: 24px;
      padding: 15px 20px;
      margin: 0;

      a {
        text-decoration: none;
        border-top: 2px solid transparent;
        color: $color;
        transition: color 320ms linear;

        &.active,
        &:hover {
          color: inherit;
        }
      }
    }

    .userInfo {
      display: flex;
      align-items: center;
      padding: 10px 15px;
      border-bottom: 4px solid;

      .imgWrapper {
        margin-right: 8px;

        img {
          width: 40px;
          height: 40px;
          border: 2px solid #fff;
          border-radius: 20px;
          display: block;
          margin: 0 auto;
          object-fit: cover;
        }
      }

      .text {
        font-size: 14px;
      }

      .btnWrapper {
        button {
          border: 0;
          padding: 0;
          background: none;
          color: #fff;
          font-size: 14px;
          text-decoration: underline;
        }
      }
    }

    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      display: block;

      li {
        display: block;

        a {
          display: block;
          padding: 10px 20px;
          border-bottom: 4px solid;
          text-decoration: none;

          span {
            color: $color;
          }

          &.active,
          &:hover {
            span {
              color: inherit;
            }
          }
        }
      }
    }
  }

  .renderChecker {
    padding: 10px 20px;
  }
}
