@import "assets/scss/Variables";

.renderChecker {
  .inner {
    display: inline-flex;
    align-items: center;
    padding-top: 4px;
    padding-bottom: 4px;

    .btnWrapper {
      display: inline-block;

      button {
        padding: 4px 5px;
        border: 0;
        background: $color;
        border: 2px solid $backgroundColor;
      }
    }

    > span {
      display: inline-block;
      margin-right: 5px;
      color: $color;

      &.counter {
        padding: 4px 5px;
        background: $success;
        border: 2px solid $backgroundColor;
        color: $backgroundColor;

        &.initial {
          background-color: $error;
        }
      }
    }
  }
}
