@import "Assets/Scss/Variables";

.horizontalNavbar {
  background: $secondaryBackgroundColor;
  border-bottom: 4px solid $primaryColor;

  > div {
    padding: 0;
  }

  .navbarBrand {
    font-size: 24px;
    padding: 0;
    margin-right: 20px;

    a {
      text-decoration: none;
      border-top: 2px solid transparent;
      color: $color;
      transition: color 320ms linear;

      &.active {
        color: $primaryColor;
      }
    }
  }

  ul.navbar-nav {
    li.nav-item {
      a.nav-link {
        color: $color;
        font-size: 18px;
        text-decoration: none;
        opacity: 1;
        transition: color 320ms linear;
        padding: 5px 15px;

        &.active {
          color: $primaryColor;
        }
      }
    }
  }
}
