@import "Assets/Scss/Variables";

.horizontalNavbar {
  background: $secondaryBackgroundColor;

  .navbar {
    padding-left: 0;
    padding-right: 0;

    .navbarBrand {
      font-size: 24px;
      padding: 0;
      margin: 0 20px 0 0;

      a {
        text-decoration: none;
        border-top: 2px solid transparent;
        color: $color;
        transition: color 320ms linear;

        &.active,
        &:hover {
          color: inherit;
        }
      }
    }

    ul.navbar-nav {
      flex-wrap: wrap;
      justify-content: flex-end;

      li.nav-item {
        a.nav-link {
          font-size: 18px;
          text-decoration: none;
          opacity: 1;
          padding: 5px 15px;

          span {
            color: $color;
            transition: color 320ms linear;
          }

          &.active,
          &:hover {
            span {
              color: inherit;
            }
          }
        }
      }
    }
  }

  .userInfo {
    display: inline-block;
    margin-left: 30px;

    .imgWrapper {
      margin-bottom: 5px;

      img {
        width: 40px;
        height: 40px;
        border: 2px solid #fff;
        border-radius: 20px;
        display: block;
        margin: 0 auto;
        object-fit: cover;
      }
    }

    .text {
      text-align: center;
      font-size: 14px;
    }

    .btnWrapper {
      text-align: center;

      button {
        border: 0;
        padding: 0;
        background: none;
        color: #fff;
        font-size: 14px;
        padding: 0 5px;
        text-decoration: underline;
      }
    }
  }
}
