@import "Assets/Scss/Variables";

.siteLayout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  border: 4px solid $primaryColor;

  > .content {
    flex-grow: 1;
  }

  > footer {
    border-top: 4px solid $primaryColor;
    background-color: $secondaryBackgroundColor;
    padding: 15px 0;

    .layoutInfo {
      margin: 0;
      text-align: center;
      color: $primaryColor;
      font-weight: 700;
    }
  }
}
