@import "./Assets/Scss/Utils.scss";
@import "./Assets/Scss/Common.scss";
@import "./Assets/Scss/Variables.scss";

.customRouteHelper {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 8px;
  background: $backgroundColor;
  animation: appear 0.4s linear;

  p {
    font-size: 14px;
    margin-bottom: 2px;
  }

  button {
    padding: 0;
    font-size: 14px;
    background: none;
    color: $color;
    text-decoration: underline;
    border: 0;
  }
}

@keyframes appear {
  from {
    opacity: 0;
    transform: scale(0.4);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
